
.bd_bg {
  background-color: #222D32;
}
.mt_150 {
  margin-top: 150px;
}
.mb_20 {
  margin-bottom: 20px;
}
* {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.red {
  color: #A94442;
}
.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

/* 左侧侧边栏 */
.l_aside {
  width: 180px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #222D32;
  z-index: 999;
  transition: all 1s;
}
.l_aside.hidemenu {
  left: -180px;
}
.l_aside .brand {
  width: 100%;
  height: 50px;
  background-color: #367FA9;
}
.l_aside .brand a {
  color: #fff;
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
}
.l_aside .user {
  padding-top: 30px;
  height: 180px;
}
.l_aside .user img {
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.l_aside .user p {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.l_aside .nav a {
  height: 40px;
  line-height: 40px;
  color: #fff;
  display: block;
  text-decoration: none;
  padding-left: 40px;
  border-left: 3px solid transparent;
}
.l_aside .nav i {
  margin-right: 2px;
}
.l_aside .nav a.current {
  border-left: 3px solid #006699;
  background-color: #1D1F21;
}

/* 右侧 */
.l_main {
  width: 100%;
  height: 1000px;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
}
.l_main.hidemenu {
  padding-left: 0;
}
.l_main .l_topbar {
  width: 100%;
  height: 50px;
  padding-left: 180px;
  background-color: #3C8DBC;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 1s;
}
.l_main .l_topbar.hidemenu {
  padding-left: 0;
}
.l_main .l_topbar a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

/* 首页 */
.breadcrumb {
  margin-top: 20px;
}

.echarts_l,
.echarts_r {
  width: 48%;
  height: 400px;
}
.table.table-bordered th, 
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}